# for benchd and report_df
pandas>=2.3.2

# for benchd
lifelines>=0.30.0

# for report_df
Jinja2>=3.1.6
scipy>=1.16.2
seaborn>=0.13.2
scikit-posthocs>=0.11.4

# for gen_cov_html
plotly>=6.3.0
numpy>=2.3.3
kaleido>=1.1.0